# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Constructor bot database
CONSTRUCTOR_DB_HOST=postgres
CONSTRUCTOR_DB_PORT=5432
CONSTRUCTOR_DB_NAME=constructor
CONSTRUCTOR_DB_USER=postgres
CONSTRUCTOR_DB_PASSWORD=

# NocoDB
NC_AUTH_JWT_SECRET=
NOCODB_URL=http://nocodb:8080
NOCODB_API_TOKEN=

# Telegram
CONSTRUCTOR_BOT_TOKEN=
